@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url("../public/NetflixSans-Light.otf");
    font-family: "NetflixSans";
    font-weight: 300;
}

@font-face {
    src: url("../public/NetflixSans-Regular.otf");
    font-family: "NetflixSans";
    font-weight: normal;
}

@font-face {
    src: url("../public/NetflixSans-Medium.otf");
    font-family: "NetflixSans";
    font-weight: 500;
}

@font-face {
    src: url("../public/NetflixSans-Bold.otf");
    font-family: "NetflixSans";
    font-weight: bold;
}
